$text_color_white: #eee;
$text_color_black: #222;

* {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
}

.section_bg {
  position: relative;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

h2 {
  font-size: 2rem;
}

.hide {
  display: none;
}

//########## header ##########

header {
  width: 100vw;
  height: 60px;
  background-color: #333;

  a,
  p.current {
    display: inline-block;
    font-size: 1.4rem;
    margin: 15px 20px;
    font-family: "Nosifer", cursive;
  }

  a {
    color: $text_color_white;
    text-decoration: none;
    &:hover {
      color: darken($text_color_white, 20%);
    }
  }

  p.current {
    color: darken($text_color_white, 20%);
  }

  #login_container {
    position: absolute;
    right: 20px;
    top: 10px;

    a {
      font-family: inherit;
      font-size: 1rem;
      margin: 0;
    }

    a,
    button {
      width: 100px;
      text-align: center;
    }

    a,
    button,
    input {
      padding: 5px;
      background-color: #eee;
      color: $text_color_black;
      font-size: 0.8rem;
      border: 1px solid #222;
    }
  }

  #btn_logout {
    display: none;
  }

  #p_email {
    display: none;
    color: $text_color_white;
    margin: 0;
  }

  &.logged_in {
    #btn_login,
    #btn_signup,
    #txt_email,
    #txt_password {
      display: none;
    }
    #p_email,
    #btn_logout {
      display: inline-block;
    }
  }
}

//########## index.html ##########

//### SPLASH ###

#splash {
  position: relative;
  background-image: url(../img/placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;

  .name_and_donate {
    position: absolute;
    top: 20vh;
    left: 60vw;
    h1 {
      margin: 0;
      font-size: 4rem;
      span {
        font-size: 1.3rem;
        font-style: italic;
        margin-left: 20px;
        font-weight: 200;
      }
    }
    p {
      font-size: 2rem;
      margin: 5px 0;
    }
    a[href="donate.html"] {
      text-decoration: none;
      color: $text_color_black;
      div {
        height: 60px;
        width: 200px;
        background: #eee;
        border: 1px solid $text_color_black;
        text-align: center;
        h2 {
          font-size: 2rem;
          margin: 0;
        }
        p {
          font-size: 0.9rem;
          margin: 0;
        }
      }
    }
  }
}

//### ABOUT US ###

#about_us {
  background-color: #ff0;
  .section_bg {
    height: 300px;

    p {
      max-width: 40%;
    }
    iframe {
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
    }
  }
}

//### DONATE ###
#donate_section {
  background-color: #000;
  padding: 0 10vw 0 10vw;
  color: $text_color_white;
  .section_bg {
    h2 {
      text-align: center;
    }
    p {
      padding: 0 200px;
    }
    .donate_container {
      display: flex;
      justify-content: center;
      background: #000;
      width: 100%;
      div {
        width: 33.33%;
        padding-top: 33.33%;

        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #000;
      }
    }
    .money {
      background: url(../img/donate_money.svg);
    }
    .material {
      background: url(../img/donate_materials.svg);
    }
    .food {
      background: url(../img/donate_food.svg);
    }
  }
}

//### Footer ###

footer {
  background-color: #ddd;
  .section_bg {
    display: grid;
    grid-template-columns: 300px 1fr 200px;

    #footer_links {
      a {
        display: block;
        margin: 20px 0;
      }
    }
    #footer_contact {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
}

//### ETC ###

#material_container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.materials {
  width: 20vw;
  height: 20vw;
  background-color: red;
}

.materials:nth-child(odd) {
  background-color: blue;
}

//########## signup.html ##########

#signup_form {
  position: absolute;
  left: 15vw;
  top: 20vh;

  //Styling of inputs
  input {
    display: block;
    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="submit"] {
      width: 400px;
      height: 50px;
      margin: 20px 0;
      font-size: 1.5rem;
      border: 1px solid #222;
      color: $text_color_black;
      background-color: rgba(158, 158, 158, 0.5);
      padding: 10px;
      &::placeholder {
        color: #444;
      }
    }
    &[type="checkbox"] {
      position: absolute;
      display: inline-block;
      margin: 0 15px;
    }
    &[type="submit"] {
      cursor: pointer;
      background-color: rgba(106, 148, 102, 0.8);
    }
  }
  //Styling of "Not a zombie" checkbox
  label[for="not_a_zombie"] {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .fake_checkbox {
    display: inline-block;
    width: 32px;
    height: 32px;
    transform: translateY(7px);
    background-color: rgba(210, 210, 210, 0.8);
    transition: 0.3s;
  }

  #not_a_zombie {
    opacity: 0;
    display: inline-block;
  }

  //Hover on "not a zombie"
  #label_not_a_zombie:hover .fake_checkbox {
    background: #bbb;
  }

  //When checked
  #not_a_zombie:checked ~ .fake_checkbox {
    background: rgb(60, 160, 51);
    div {
      position: absolute;
      height: 25px;
      width: 15px;
      transform: rotate(45deg) translate(7px, -5px);
      border: solid black;
      border-width: 0 5px 5px 0;
    }
  }
}

//Setup af andre absolute elementer

body#signup {
  background-image: url(../img/placeholder.jpg);

  .transparent_bg {
    position: absolute;
    width: 45vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.7);
    z-index: -1;
  }

  #back_to_index {
    font-size: 2rem;
    position: absolute;
    left: 30px;
    top: 30px;
    text-decoration: none;
    color: $text_color_black;
    &:hover {
      color: #555;
    }
  }
}

//########## donate.html ##########
